CONFIG_TLK_DMA=y
CONFIG_TLK_DMA_IRQ_HANDLER=y
CONFIG_TLK_DMA_PM_DEVICE=y
CONFIG_TLK_DMA_PREVENT_SLEEP=y
CONFIG_TLK_GPIO_PREVENT_SLEEP=y
CONFIG_TLK_PLIC_SW=y
CONFIG_TLK_PM=y
CONFIG_TLK_PM_DEEP_SLEEP=y
CONFIG_TLK_PM_ALLOW_FALLBACK_TO_SUSPEND=y
CONFIG_TLK_PM_RAM_RETENTION_ENABLE=y
CONFIG_TLK_UART=y
CONFIG_TLK_UART0_ENABLED=y
CONFIG_TLK_UART0_FLOW_CONTROL_RTS_CTS=y
CONFIG_TLK_UART0_FLOW_CONTROL=y
CONFIG_TLK_UART0_IRQ_HANDLER=y
CONFIG_TLK_UART0_PM_DEVICE=y
CONFIG_TLK_UART0_PREVENT_SLEEP=y
CONFIG_TLK_UART1_ENABLED=y
CONFIG_TLK_UART1_AUTO_CONFIG=y
CONFIG_TLK_UART1_FLOW_CONTROL_RTS_CTS=y
CONFIG_TLK_UART1_FLOW_CONTROL=y
CONFIG_TLK_UART1_IRQ_HANDLER=y
CONFIG_TLK_UART1_PM_DEVICE=y
CONFIG_TLK_UART1_PREVENT_SLEEP=y
CONFIG_TLK_UART2_ENABLED=y
CONFIG_TLK_UART2_AUTO_CONFIG=y
CONFIG_TLK_UART2_FLOW_CONTROL_RTS_CTS=y
CONFIG_TLK_UART2_FLOW_CONTROL=y
CONFIG_TLK_UART2_IRQ_HANDLER=y
CONFIG_TLK_UART2_PM_DEVICE=y
CONFIG_TLK_UART2_PREVENT_SLEEP=y
CONFIG_TLK_DEBUG_PRINT=y
CONFIG_TLK_GPIO_DEMO_INTERRUPT=y
