# CONFIG_TLK_GPIO_PORT_A_ENABLED is not set
# CONFIG_TLK_GPIO_PORT_C_ENABLED is not set
# CONFIG_TLK_GPIO_PORT_E_ENABLED is not set
# CONFIG_TLK_GPIO_PORT_F_ENABLED is not set
# CONFIG_TLK_GPIO_PORT_G_ENABLED is not set
CONFIG_TLK_PM=y
# CONFIG_TLK_PM_SUSPEND is not set
CONFIG_TLK_PM_DEEP_SLEEP=y
CONFIG_TLK_PM_RAM_RETENTION_ENABLE=y
