menuconfig TLK_CRYPTO
    bool "Crypto functionality"


if TLK_CRYPTO

config TLK_CRYPTO_DMA_SUPPORT
    bool "Support DMA functionality for cryptography"
    select TLK_DMA
    depends on y

config TLK_CRYPTO_TRNG
    bool "Support random functionality"
    depends on y

config TLK_CRYPTO_HASH
    bool "Support hash functionality"
    depends on y

config TLK_CRYPTO_CHACHA20
    bool "Support chacha20 functionality"
    depends on y

config TLK_CRYPTO_PKE
    bool "Support public key engine functionality"
    select TLK_CRYPTO_TRNG if y
    select TLK_CRYPTO_HASH if y
    depends on y

config TLK_CRYPTO_SKE
    bool "Support symmetric key engine functionality"
    depends on y

endif # TLK_CRYPTO