CONFIG_TLK_API_SLEEP=y
CONFIG_TLK_PM=y
CONFIG_TLK_PM_DEEP_SLEEP=y
CONFIG_TLK_PM_RAM_RETENTION_ENABLE=y
CONFIG_TLK_UART_PM_DEVICE=y
CONFIG_TLK_UART1_ENABLED=y
CONFIG_TLK_UART1_TX_MODE="TLK_UART_XFER_BLOCKING"
CONFIG_TLK_UART1_RX_MODE="TLK_UART_XFER_BLOCKING"
CONFIG_TLK_UART1_PM_DEVICE=y
