menuconfig TLK_CRITICAL_PRINTOUT
    bool "Enable critical printout"
    select TLK_UART


if TLK_CRITICAL_PRINTOUT

# UART Selection
choice
    prompt "UART number"

config TLK_CRITICAL_UART0_ENABLED
    bool "UART0"
    select TLK_UART0_ENABLED
config TLK_CRITICAL_UART1_ENABLED
    bool "UART1"
    select TLK_UART1_ENABLED

endchoice # UART number


# Selected UART
config TLK_CRITICAL_UART
    string
    default TLK_UART0 if TLK_CRITICAL_UART0_ENABLED
    default TLK_UART1 if TLK_CRITICAL_UART1_ENABLED


# Baudrate
config TLK_CRITICAL_UART_BAUDRATE
    int "Baudrate"
    default 115200

endif # TLK_CRITICAL_PRINTOUT

##############################################################

config TLK_BINARY_SIGNATURE_ADDRESS
    hex
    default 0x100

config TLK_BINARY_SIGNATURE_CORE_NAME_SIZE
    int
    default 16

config TLK_BINARY_SIGNATURE_SOC_NAME_SIZE
    int
    default 16

config TLK_BINARY_SIGNATURE_SOC_CASE_NAME_SIZE
    int
    default 16

config TLK_BINARY_SIGNATURE_SDK_VERSION_SIZE
    int
    default 48

config TLK_BINARY_SIGNATURE_APP_VERSION_SIZE
    int
    default 48