CONFIG_TLK_CORE_B92=y
CONFIG_TLK_CORE="B92"
CONFIG_TLK_HAS_QFN88_CASE=y
CONFIG_TLK_CASE="QFN88"
# CONFIG_TLK_SOC_SERIES_TL321X is not set
# CONFIG_TLK_SOC_SERIES_TL721X is not set
# CONFIG_TLK_SOC_SERIES_TLSR922X is not set
CONFIG_TLK_SOC_SERIES_TLSR952X=y
CONFIG_TLK_SOC_SERIES="TLSR952X"
CONFIG_TLK_SOC="TLSR9528A"
CONFIG_TLK_SOC_TLSR9528A=y
# CONFIG_TLK_SOC_TLSR9527B is not set
# CONFIG_TLK_SOC_TLSR9527C is not set
CONFIG_TLK_HAS_BOARD_SELECTED=y
# CONFIG_TLK_BOARD_TLSR9528A_DONGLE is not set
CONFIG_TLK_BOARD_TLSR9528A_EVK=y
CONFIG_TLK_BOARD="TLSR9528A_EVK"
