# CONFIG_TLK_PLIC_VECTOR_MODE is not set
CONFIG_TLK_PM=y
CONFIG_TLK_UART1_IRQ_HANDLER=y
CONFIG_TLK_NEST_INTO_MTIMER=y
CONFIG_TLK_NEST_SW=y
CONFIG_TLK_NEST_EXT=y
CONFIG_TLK_UART1_ENABLED=y
CONFIG_TLK_UART1_TX_MODE="TLK_UART_XFER_BLOCKING"
CONFIG_TLK_UART1_RX_MODE="TLK_UART_XFER_BLOCKING"
CONFIG_TLK_DEBUG_PRINT=y
CONFIG_TLK_DEBUG_UART1=y
CONFIG_TLK_DEBUG_UART="TLK_UART0"
CONFIG_TLK_DEBUG_PRINT_BUFFER_SIZE=256